body {
    margin: 0 auto;
    width: 100%;
    background: #313131;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

a:hover {
    color: #ff0;
    text-decoration: underline;
}


header {
    background: #111111;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    float: left;
    margin-right: 50px;
}
