/* primary color: #3F3D48 (grey)
   secondary color:#23B0A3(light blue)*/

/* GLOABAL STYLES START*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.hide{
  display:none;
}

.unhide{
  display:unset;
}

/* GLOABAL STYLES END*/

/* START OF MOBILE*/

/* HEADER */
.main-header {
  background:#3F88C5;
  padding: 5px;
  color: #fff;
  width:100%;
  position: fixed;
  height:70px;
  left: 0;
  transition: all 0.5s ease;
}

.main-header p{
    float:right;
    font-size:1.1em;
    margin-top:22px;
    overflow:hidden;
}

.main-header p span {
    font-size:.7em;
}

.main-header a {
  position: static;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 35px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.5s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.5s ease;
}
.main-nav a {
  display: block;
  background: linear-gradient(#3e3e3e, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 15px;
}
.main-nav a:hover, .main-nav a:focus {
  background: linear-gradient(#484848, #383838);
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  padding: 100px 20px 20px 20px;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 20%;
}

#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 100%;
  left: 20%;
}

#name{
  text-align: center;
  margin-top:20px;
  margin-right:298px;
}

#smaller{
  font-size:.7em;
}

/* END OF HEADER */

/* START OF SKILL BOXES */

.skill{
  height:100px;
  text-align:left;
  border:1px solid #fff;
  background:#383838;
  transition: all .4s ease;
}

.skill h1{
  color:white;
  font-size:3.5em;
  margin:0;
}

#typed{
  white-space:pre;
  text-align: left;
  color:lightblue;
  font-size:.7em;
}

#html{
  margin-top:71px;
}

#css:hover{
  background:#3F88C5;
  color:#383838;
}

#responsive{
  height:250px;
}

#responsive:hover{
  height:250px;
  background-image: url(../images/responsive-design.jpg);
  background-size:cover;
  background-position: center;
}

#github{
  height:250px;
}

#github:hover{
  height:250px;
  background-image:url(../images/octocat.jpg);
  background-size:cover;
  background-position:center;
}

/* END OF SKILL BOXES*/

/* START OF ABOUT SECTION*/

#about{
  height:400px;
  color:#383838;
}

#about h3{
  font-size:2em;
  margin:0;
  text-align: center;
}

#about p{
  color:#838383;
  text-align: center;
}


/* END OF ABOUT SECTION*/

/*START OF WORK SECTION*/

.sites{
  height:200px;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  transition:all .5s ease;
}

.sites h1{
  color:#fff;
  text-shadow:2px 2px 8px #333333;
}

#musicSite{
  background-image: url(../images/musicsite.png);
}
#musicSite:hover{
-ms-filter: grayscale(0.7) blur(0.5px);
-webkit-filter: grayscale(0.7) blur(0.5px);
-moz-filter: grayscale(0.7) blur(0.5px);
-o-filter: grayscale(0.7) blur(0.5px);
filter: grayscale(0.7) blur(0.5px);
}

#foodSite{
  background-image: url(../images/foodsite.png);
}
#foodSite:hover{
-ms-filter: grayscale(0.7) blur(0.5px);
-webkit-filter: grayscale(0.7) blur(0.5px);
-moz-filter: grayscale(0.7) blur(0.5px);
-o-filter: grayscale(0.7) blur(0.5px);
filter: grayscale(0.7) blur(0.5px);
}

#techSite{
  background-image: url(../images/techsite.png);
}
#techSite:hover{
-ms-filter: grayscale(0.7) blur(0.5px);
-webkit-filter: grayscale(0.7) blur(0.5px);
-moz-filter: grayscale(0.7) blur(0.5px);
-o-filter: grayscale(0.7) blur(0.5px);
filter: grayscale(0.7) blur(0.5px);
}

#pictureSite{
  background-image: url(../images/picturesite.png);
}
#pictureSite:hover{
-ms-filter: grayscale(0.7) blur(0.5px);
-webkit-filter: grayscale(0.7) blur(0.5px);
-moz-filter: grayscale(0.7) blur(0.5px);
-o-filter: grayscale(0.7) blur(0.5px);
filter: grayscale(0.7) blur(0.5px);
}

#socialLinks{
  
}

#icons li{
  font-size:2em;
  float:right;
  list-style: none;
  margin-right:20px;
}
/* END OF WORK SECTION*/

/* START FOOTER*/

#pictureDiv img{
  width:70px;
  border-radius:200px;
  height:70px;
}

#pictureDiv{
  margin: 20px 0 0 20px;
  float:left;
}

#contactHeader{
  margin: 45px 0 0 20px;
  float:left;
  font-size: 1.5em;
  color:#3F88C5;
}

.footer{
  background-color:#3B3B3B;
  height:450px;
  color:white;
}

#contact{
  overflow:hidden;
}

form{
  clear:both;
  margin:10px;
}

input:focus{
  outline-width: 0;
}

input{
  border:none;
  border-bottom:2px solid #3F88C5;
  background:transparent;
  height:30px;
  margin:10px;
  width:40%;
}

input, select, textarea{
  color:#fff;
}

button{
  width:40.2%;
  margin-top:20px;
  margin-left:10px;
  border-radius:20px;
  background-color:#3F88C5;
  border:none;
}


/* TYPED.JS*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* END TYPED.JS*/

/* KEYFRAMES */

@keyframes move
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:650px;}
55% {transform: rotate(0deg);left:650px;}
70% {transform: rotate(0deg);left:650px;}
100% {transform: rotate(-360deg);left:0px;}
}