/******** DESKTOP SITE *********/

body{
    padding:0;
    margin:0 auto;
    width:100%;
}

input:focus{
    outline:none;
}

textarea:focus{
    outline:none;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
}
nav{
    background-color:rgba(0, 0, 0, 0.5);
    height:40px;
    width:100%;
    position:fixed; 
    z-index: 100000;
}

nav ul{
    margin-right:40%;
}

#links li{
    float:left;
    list-style: none;
    margin-right:5%;
    font-size:.7em;
}

#links a:hover{
    color:#000;
}

section.jumbotron{
    background-image:url(../images/city.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height:750px;
}

#hamburger{
    display:none;
}
/* SPINNING LOGO */

#circle{
    position: absolute;
    border: 10px solid rgba(0, 0, 0, 0.5);
    height: 624px;
    border-radius: 625px;
    width: 625px;
    left: 26%;
    top: 8%;
}

#rotate{
  /*color:rgba(221, 201, 126, 1);*/
  color:rgba(0, 0, 0, 0.5);
  position:absolute;
  left: 3%;
  top: 97px;
  font-size: 24em;
  animation: rotate 7s linear infinite;
}

@keyframes rotate{
  from{
   transform:rotateY(360deg);
  }
}

/* SPINNING LOGO END*/

/* SKILL BOXES*/

.skill{
    overflow: hidden;
    letter-spacing: 2px;
    text-align: leftj;
    height:650px;
}

.skillsBox{
    float:right;
}

#HTML{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/html5.png);
    height: 120px;
    width: 120px;
}

#javascript{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/jslogo.png);
    height: 200px;
    width: 135px;
}

#CSS{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/css3.png);
    height: 130px;
    width: 118px;

}

.designBox{
    float:left;
    margin-left:200px;
    margin-top:150px;
    word-wrap: break-word;
    width:40%;
}

#bigger{
    font-size:2.5em;
}

/* END SKILL BOXES*/

/* JUST A BACKGROUND*/

.spacer-background{
    background-image: url(../images/laptop.jpg);
    background-blend-mode: normal;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:600px;
    overflow:hidden;
}

#threeWordLogo h1{ 
    color:rgba(0, 0, 0, 0.5);
    font-size:5.5em;
    list-style: none;
}

#threeWordLogo h1:nth-child(2){
    margin-left:65px;
}

#threeWordLogo h1:last-child{
    margin-left:200px;
}
/* JUST A BACKGROUND END*/

/* SAMPLE SITES*/
.sampleSites{
    z-index: 20000;
    height:550px;
}

#sampleBox{
    display:flex;
    flex-direction: row;
}

.hoverBig:hover{
     z-index: 20000;
     width:100%;
     transform: scale(1.0);  
}

#site1{
    margin-top:60px;
    background-image:url(../images/foodsite.png);
    background-position:center;
    background-size:cover;
    height:450px;
    width:25%;
    transition: all .2s linear;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

#site2{
    margin-top:60px;
    background-image:url(../images/picturesite.png);
    background-position:center;
    background-size:cover;
    height:450px;
    width:25%;
    transition: all .2s linear;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

#site3{
    margin-top:60px;
    background-image:url(../images/musicsite.png);
    background-position:left;
    background-size:cover;
    height:450px;
    width:25%;
    transition: all .2s linear;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
#site4{
    margin-top:60px;
    background-image:url(../images/techsite.png);
    background-position:center;
    background-size:cover;
    height:450px;
    width:25%;
    transition: all .2s linear;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

/* SAMPLE SITE END */

/* FOOTER */
#myPicture{
    background-image: url(../images/me.JPG);
    background-position:center;
    background-size: cover;
    height:60px;
    border-radius:60px;
    width:60px;
    position:relative;
    left:60px;
    top:20px;
}   

#comment{
    color:#fff;
    margin: -28px 0 0 130px;
    font-size:2em;
}


footer{
    height:375px;
    background-color:rgba(0, 0, 0, 0.5);
}

form{
    margin-left: 50px;
}


input:first-child{
    margin-top:40px;
}

#commentBox{
    border-radius:5px;
    width:29.7%;
    height:125px;
    border:1px solid #fff;
    color:#000;
}

input{
    color:white;
    border:none;
    border-bottom:1px solid #fff;
    margin-bottom:20px;
    width:30%;
    background:none;
}

/******** DESKTOP SITE END *********/











/********** MOBILE SITE ***********/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {

input:focus{
    outline:none;
}

textarea:focus{
    outline:none;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
}

#hamburger{
    display:unset;
}

#hamburger p{
    font-size:2.5em;
    text-shadow:1px 1px 5px #000;
    color:rgba(255, 200, 0, 0.8);
    margin:0 auto;
    padding-left:48%;
    margin-bottom:1%;
    transform: rotate(90deg);
}

nav{
    background-color:rgba(0, 0, 0, 0.5);
    height:40px;
    width:100%;
    position:fixed; 
    z-index: 10000;
}

nav ul{
    display:none;
    margin-right:40%;
}

#links li{
    float:left;
    list-style: none;
    margin-right:5%;
    font-size:.7em;
}

#links a:hover{
    color:#000;
}

section.jumbotron{
    background-image:url(../images/city.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height:750px;
}

/* SPINNING LOGO */

#circle{
    display:none;
}

/* SPINNING LOGO END*/

/* SKILL BOXES*/

.skill{
    overflow: hidden;
    letter-spacing: 2px;
    text-align: leftj;
    height:650px;
}

.skillsBox{

}

#HTML{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/html5.png);
    height: 120px;
    width: 120px;
}

#javascript{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/jslogo.png);
    height: 200px;
    width: 135px;
}

#CSS{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/css3.png);
    height: 130px;
    width: 118px;

}

.designBox{
    float:left;
    margin-left:200px;
    margin-top:150px;
    word-wrap: break-word;
    width:40%;
}

#bigger{
    font-size:2.5em;
}

/* END SKILL BOXES*/

/* JUST A BACKGROUND*/

.spacer-background{
    background-image: url(../images/laptop.jpg);
    background-blend-mode: normal;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:600px;
    overflow:hidden;
}

#threeWordLogo h1{ 
    color:rgba(0, 0, 0, 0.6);
    font-size:5.5em;
    list-style: none;
    text-align: center;
}

#threeWordLogo h1:nth-child(2){
    margin-left:0px;
}

#threeWordLogo h1:last-child{
    margin-left:0px;
}
/* JUST A BACKGROUND END*/

/* SAMPLE SITES*/
.sampleSites{
    height:800px;
}

#sampleBox{
    display:flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.hoverBig{
     border-top:1px solid rgba(0, 0, 0, 0.5); 
}

.hoverBig:first-child{
    border:none;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
}

#site1{
    margin:0;
    background-image:url(../images/foodsite.png);
    background-position:top;
    background-size:cover;
    height:200px;
    width:100%;
}

#site2{
    margin:0;
    background-image:url(../images/picturesite.png);
    background-position:top;
    background-size:cover;
    height:200px;
    width:100%;
}

#site3{
    margin:0;
    background-image:url(../images/musicsite.png);
    background-position:right;
    background-size:cover;
    height:200px;
    width:100%;
}
#site4{
    margin:0;
    background-image:url(../images/techsite.png);
    background-position:right;
    background-size:cover;
    height:200px;
    width:100%;
}

/* SAMPLE SITE END */

/* FOOTER */
#myPicture{
    background-image: url(../images/me.JPG);
    background-position:center;
    background-size: cover;
    height:60px;
    border-radius:60px;
    width:60px;
    position:relative;
    left:60px;
    top:20px;
}   

#comment{
    color:#fff;
    margin: -28px 0 0 130px;
    font-size:2em;
}


footer{
    height:375px;
    background-color:rgba(0, 0, 0, 0.5);
}

form{
    margin-left: 50px;
}


input:first-child{
    margin-top:40px;
}

#commentBox{
    border-radius:5px;
    width:29.7%;
    height:125px;
    border:1px solid #fff;
    color:#000;
}

input{
    color:white;
    border:none;
    border-bottom:1px solid #fff;
    margin-bottom:20px;
    width:30%;
    background:none;
}
    }